name: Mandatory Tests

on:
  workflow_call:

jobs:
  mandatory-tests:
    name: Mandatory Tests
    runs-on: ubuntu-latest
    env:
      DART_DEFINES: --dart-define=SKIP_DEPENDS_ON=true

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Flutter
        uses: ./.github/actions/setup_flutter

      - name: Dart Analyze check
        id: dart_analyze
        uses: education/autograding-command-grader@v1
        with:
          test-name: Dart Analyze check
          command: dart analyze
          timeout: 10
          max-score: 1

      - name: Test 1
        id: test1
        uses: education/autograding-command-grader@v1
        with:
          test-name: [Navegacao] Tem uma bottom bar com 4 opcoes
          command: flutter test --name "[Navegacao] Tem uma bottom bar com 4 opcoes"
          timeout: 10
          max-score: 1

      - name: Test 2
        id: test2
        uses: education/autograding-command-grader@v1
        with:
          test-name: [Navegacao] Bottom bar navega para os 4 ecras
          command: flutter test --name "[Navegacao] Bottom bar navega para os 4 ecras"
          timeout: 10
          max-score: 1

      - name: Test 3
        id: test3
        uses: education/autograding-command-grader@v1
        with:
          test-name: [Lista estacoes] Apresenta estacoes
          command: flutter test --name "[Lista estacoes] Apresenta estacoes"
          timeout: 10
          max-score: 1

      - name: Test 4
        id: test4
        uses: education/autograding-command-grader@v1
        with:
          test-name: [Lista estacoes] Navega para o detalhe da estacao escolhida
          command: flutter test --name "[Lista estacoes] Navega para o detalhe da estacao escolhida"
          timeout: 10
          max-score: 1

      - name: Test 5
        id: test5
        uses: education/autograding-command-grader@v1
        with:
          test-name: [Incidentes] Existencia de campos do formulario e botao de submeter
          command: flutter test --name "[Incidentes] Existencia de campos do formulario e botao de submeter"
          timeout: 10
          max-score: 1

      - name: Test 6
        id: test6
        uses: education/autograding-command-grader@v1
        with:
          test-name: [Incidentes] Valicadoes de erro
          command: flutter test --name "[Incidentes] Valicadoes de erro"
          timeout: 10
          max-score: 1

      - name: Test 7
        id: test7
        uses: education/autograding-command-grader@v1
        with:
          test-name: [Incidentes] Inserir incidente
          command: flutter test --name "[Incidentes] Inserir incidente"
          timeout: 10
          max-score: 1

      - name: Test 8
        id: test8
        uses: education/autograding-command-grader@v1
        with:
          test-name: [Detalhe] Apresenta incidente
          command: flutter test --name "[Detalhe] Apresenta incidente"
          timeout: 10
          max-score: 1

      - name: Autograding Reporter
        uses: classroom-resources/autograding-grading-reporter@v1
        with:
          runners: dart_analyze,test1,test2,test3,test4,test5,test6,test7,test8
        env:
          DART_ANALYZE_RESULTS: ${{ steps.dart_analyze.outputs.result }}
          TEST1_RESULTS: ${{ steps.test1.outputs.result }}
          TEST2_RESULTS: ${{ steps.test2.outputs.result }}
          TEST3_RESULTS: ${{ steps.test3.outputs.result }}
          TEST4_RESULTS: ${{ steps.test4.outputs.result }}
          TEST5_RESULTS: ${{ steps.test5.outputs.result }}
          TEST6_RESULTS: ${{ steps.test6.outputs.result }}
          TEST7_RESULTS: ${{ steps.test7.outputs.result }}
          TEST8_RESULTS: ${{ steps.test8.outputs.result }}